/* #cart{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
} */


#cart li{
    margin: 30px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


#cart img{
    padding: 10px 30px 40px 40px;
}

.dhoor{
    
    top: 500px;
    position: absolute;
    left: 900px;
    width: 200px;
    height: 150px;
    padding-left: 25px;
    bottom: 50px;
    background-color: rgb(215, 215, 7);
}

.dhoor button{
    height: 35px;
    width: 140px;
    margin-bottom: 100px;
}